@import "mixins";

/***  PAGEHEAD ***/
div.pagehead
{
}

/*** LOGO ***/

a.logo
{
  display: block;
}

/*** END LOGO ***/

/*** NAV-TOP NAV-LANG ***/
ul.nav-top, ul.nav-lang
{
  @include nav-layout-horizontal(0);
  @include font-custom-light();
  //  background-color: $gray-lighter;
  //  margin-top: 10px;
  margin-right: 10px;
  font-size: ceil($font-size-base * 0.9);
  padding: 3px 15px;
  li
  {
    a
    {
      display: block;
      color: lighten($gray-dark, 10%);
    }
    a:after
    {
      content: '\002F';
      padding: 0 10px;
      text-decoration: none;
    }

  }
  li:last-child
  {
    a:after
    {
      content: '';
      color: lighten($gray-dark, 10%);
      padding: 0;
      border-bottom: 0;
    }
  }
  li:hover, li.selected
  {
    a
    {
      color: $text-color;
      text-decoration: none;
    }
    a:after
    {
      text-decoration: none;
    }
  }
}

/*** END NAV-TOP NAV-LANG ***/
/*** LANG ***/
ul.nav-lang
{
  margin-right: 0;
  padding-right: 0;
}

/*** END LANG ***/
/*** NAV-MAIN ***/

ul.nav-main
{
  @include nav-layout-horizontal(30px);
  @include nav-submenu();
  @include font-custom-bold();
  height: auto;
  margin-top: 15px;
  overflow: hidden;

  li
  {
    a
    {
      font-size: ceil($font-size-base*1.2);
      text-decoration: none;
    }

    ul
    {
      background-color: $brand-primary; //rgba($brand-primary, 0.8);
      margin: 0 0 0 -20px;
      padding: 0;
      padding-bottom: 10px;
      li
      {
        padding: 5px 20px 0;
        margin: 0;
        a
        {
          text-decoration: none;
        }
      }
    }

    &.selected, &:hover
    {
      a
      {
        text-decoration: underline;
      }
      ul li a
      {
        text-decoration: none;
      }
    }
  }

}

/*** END NAV-MAIN ***/
/*** FACEBOOK ***/

a.facebook
{
  margin-top: 10px;
}

/*** END FACEBOOK ***/

/***  END PAGEHEAD ***/
/***  BREADCRUMB ***/

ol.breadcrumb
{
  margin-top: 10px;
  li
  {
    font-size: 14px;
    color: $gray;
    a
    {
      color: $gray-dark;
      text-decoration: underline;
    }
  }
}

/***  END BREADCRUMB ***/

a.responsive-menu
{
  @include font-custom();
  font-weight: bold;
  color: $brand-primary;
  display: block;
  font-size: ceil($font-size-base * 2);
  text-transform: uppercase;
  text-decoration: none;
 /* &:after
  {
    clear: both;
  }*/
}