@import "mixins";

/*** PAGEFOOT ***/
div.pagefoot
{
  background-color: $brand-primary;
  color: #FFFFFF;
  margin-top: 20px;
  padding: 20px 0;
  address
  {
    display: block;
    line-height: 19px;
  }
  a
  {
    color: #FFFFFF;
  }
  p
  {
    margin: 0;
    &.copyright
    {
      margin-top: 20px;
    }
  }
  a.other-school
  {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    img
    {
      display: block;
      float: right;
    }
  }
}

/*** END PAGEFOOT ***/
